.list {
  width: 50%;
  margin: auto;
}

.todo-title {
  display: inline-block;
  margin-right: 10px;
}

#todo {
  cursor: pointer;
}

#todo:hover {
  border-color: gray;
}

.todo-body {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

.todo-body-finished {
  display: inline-block;
  margin-right: 10px;
  text-decoration: line-through;
}